<body><%= styled_flash %>
<form action="/bookmarks" method = "post">
  URL <input type="text" name="bookmark">
  TITLE <input type="text" name="title">
  <input type="submit" value="Submit">
</form>

<% @bookmarks.each do |bookmark_instance| %>
   <%= bookmark_instance.title %> :
   <a href="<%= bookmark_instance.url %>">
   <%= bookmark_instance.url %></a><br>
 <% end %>

</body>
